body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("190295eaa7c935af72f2c7b49425baf0.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

body,
h1,
label,
input,
button {
  text-align: center;

}

h1 {
  background-color: peru;
  color: white;
  padding: 10px;
}

label {
  margin-top: 20px;
  color: white;
}

input,
button {
  margin-top: 10px;
}